In [1]:
mylist = [1, 2, 3]

In [3]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [4]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [5]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [6]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [8]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [9]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [10]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [11]:
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [12]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [13]:
mylist1 = [1, 2, 3, 4, 5]
mylist2 = ['a', 'b', 'c']

In [14]:
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [15]:
mylist3 = [100, 200, 300]

for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [16]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [17]:
'x' in [1, 2, 3]

False

In [18]:
'x' in ['x', 'y', 'z']

True

In [19]:
'a' in 'a world'

True

In [20]:
'mykey' in {'thekey':345, 'mykey':678}

True

In [22]:
d = {'thekey':345, 'mykey':678}

345 in d.values()

True

In [23]:
from random import shuffle

In [24]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
shuffle(mylist)

In [26]:
mylist

[8, 5, 2, 10, 4, 6, 9, 1, 3, 7]

In [27]:
from random import randint

In [28]:
randint(0,100)

52

In [29]:
randint(0,100)

19

In [30]:
my_num = randint(0,100)

In [31]:
my_num

16

In [32]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [33]:
result = input('Enter a number here: ')

Enter a number here: 10

In [34]:
result

'10'

In [35]:
type(result)

str

In [36]:
int(result)

10

In [37]:
result

'10'

In [38]:
new_int = int(result)

In [39]:
new_int

10